<footer id="footer" class="footer">
    <div class="footer__content footer__tops">
        <div class="footer__inner">
            <div class="footer__tops-left">
                <div class="footer__logo logo"><a href=""><img src="images/bingoboom.svg" alt=""></a></div>               
            </div>
            <div class="footer__tops-right">
                <div class="footer__callback callback">
                    <span class="callback__line">
                        <a href=""><span class="callback__num">8 (800) 301–43–43</span></a> звонок бесплатный
                    </span>
                </div>
            </div>
            <a href="javascript:void(0)" class="footer__scrolltop scrolltop js-scrollTo" data-scroll-target="body">
                <span class="arrow-circle arrow-circle--fill arrow-circle--up">
                    <img src="images/arrow-up.svg" alt="" />
                </span>
            </a>
        </div>
    </div>
    <div class="footer__content footer__partners">
        <div class="footer__inner">
            <div class="footer__block footer__block--partners">
                <div class="footer__caption js-mobile-toggle-footer-nav">Партнеры</div>
                <div class="footer__partners-list">
                    <div class="footer__partners-item footer__partners-item--acb">
                        <img src="images/partners/aca.png" alt="aca">
                    </div>
                    <div class="footer__partners-item footer__partners-item--rfb">
                        <img src="images/partners/rfb.png" alt="rfb">
                    </div>
                    <div class="footer__partners-item footer__partners-item--vfv">
                        <img src="images/partners/vfv.png" alt="vfv">
                    </div>
                    <div class="footer__partners-item footer__partners-item--rubin">
                        <img src="images/partners/rubin-kazan.png" alt="rubin kazan">
                    </div>
                    <div class="footer__partners-item footer__partners-item--arsenal" >
                        <img src="images/partners/arsenal-tula.png" alt="arsenal">
                    </div>
                    <div class="footer__partners-item footer__partners-item--ufa">
                        <img src="images/partners/fc-ufa.png" alt="ufa">
                    </div>
                    <div class="footer__partners-item footer__partners-item--orenburg">
                        <img src="images/partners/fc-orenburg.png" alt="orenburg">
                    </div>
                    <div class="footer__partners-item footer__partners-item--torpedo">
                        <img src="images/partners/torpedo.png" alt="torpedo">
                    </div>
                    <div class="footer__partners-item footer__partners-item--berkut">
                        <img src="images/partners/berkut.png" alt="berkut">
                    </div>
                </div>
            </div>
            <div class="footer__block footer__block--info">
                <div class="footer__caption js-mobile-toggle-footer-nav">Информационные партнеры</div>
                <div class="footer__partners-list">
                    <div class="footer__partners-item footer__partners-item--match">
                        <img src="images/partners/match.png" alt="Матч">
                    </div>
                    <div class="footer__partners-item footer__partners-item--eurosport">
                        <img src="images/partners/eurosport.png" alt="Eurosport">
                    </div>
                    <div class="footer__partners-item footer__partners-item--sports-ru">
                        <img src="images/partners/sports-ru.png" alt="sports.ru">
                    </div>
                    <div class="footer__partners-item footer__partners-item--rb">
                        <img src="images/partners/rb.png" alt="rb">
                    </div>
                    <div class="footer__partners-item footer__partners-item--legalbet">
                        <img src="images/partners/legalbet.png" alt="legalbet">
                    </div>
                    <div class="footer__partners-item footer__partners-item--betting-awards">
                        <img src="images/partners/betting-awards.png" alt="betting-awards">
                    </div>
                    <div class="footer__partners-item footer__partners-item--leader">
                        <img src="images/partners/leader.png" alt="leader">
                    </div>
                    <div class="footer__partners-item footer__partners-item--rsa">
                        <img src="images/partners/rsa.png" alt="rsa">
                    </div>
                    <div class="footer__partners-item footer__partners-item--sar">
                        <img src="images/partners/sportandrussia.png" alt="sport and Russia">
                    </div>
                </div>
            </div>
            <div class="footer__block footer__block--payments">
                <div class="footer__caption js-mobile-toggle-footer-nav">Способы оплаты</div>
                <div class="footer__partners-list">
                    <div class="footer__partners-item footer__partners-item--visa ">
                        <img src="images/account/visa-white.png" alt="visa">
                    </div>
                    <div class="footer__partners-item footer__partners-item--mastercard">
                        <img src="images/account/mastercard2.png" alt="mastercard">
                    </div>
                    <div class="footer__partners-item footer__partners-item--ap">
                        <img src="images/partners/applepay.svg" />
                    </div>
                    <div class="footer__partners-item footer__partners-item--qiwi">
                        <img src="images/account/qiwi2.png" alt="qiwi">
                    </div>
                    <div class="footer__partners-item footer__partners-item--ya">
                        <img src="images/account/ya2.png" alt="ya">
                    </div>
                    <div class="footer__partners-item footer__partners-item--mts">
                        <img src="images/partners/logo_mts.svg" alt="mts">
                    </div>
                    <div class="footer__partners-item footer__partners-item--beeline">
                        <img src="images/account/beeline.png" alt="beeline">
                    </div>
                    <div class="footer__partners-item footer__partners-item--megafon">
                        <img src="images/account/megafon.png" alt="megafon">
                    </div>
                    <div class="footer__partners-item footer__partners-item--tele2">
                        <img src="images/account/tele2.png" alt="tele2">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__content footer__bottom">
        <div class="footer__inner">
            <div class="footer__copyright">
                © 2019 Все права защищены. ООО Фирма «СТОМ»</div>
            <div class="footer__right">
                <ul class="footer__submenu ">
                    <li class="footer__submenu-item">
                        <a href="javascript:void(0);" class="footer__link js-chatra-open">Обратная связь</a>
                    </li>
                    <li class="footer__submenu-item">
                        <a href="/pages/halls" class="footer__link">Адреса залов</a>
                    </li>
                </ul>
                <div class="footer__socials socials">                   
                    <div class="socials__item socials__item--vk">
                        <a href="#" class="socials__item-link"><span></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>