<form class="hero__form">
    <div class="hero__fieldset">
        <label for="" class="hero__label">Кому:</label>
        <input type="text" class="hero__input" value="Bingoboom" />
    </div>
    <div class="hero__fieldset">
        <label for="" class="hero__label">От кого:</label>
        <input type="text" class="hero__input" value="" />
    </div>
    <div class="hero__fieldset hero__fieldset--dob">
        <label for="" class="hero__label">Дата рождения:</label>
        <input type="text" class="hero__input" placeholder="дд  мм  гг" maxlength="8" />
    </div>
    <div class="hero__fieldset hero__fieldset--tel">
        <label for="" class="hero__label">Телефон:</label>
        <input type="text" class="hero__input" value="" />
    </div>
    <div class="hero__fieldset">
        <label for="" class="hero__label">Тема:</label>
        <input type="text" class="hero__input" value="Мое желание" />
    </div>
    <div class="hero__fieldset">
        <label for="" class="hero__label">Хочу:</label>
        <input type="text" class="hero__input" value="" />
    </div>
    <div class="hero__btns section__btns">
        <a href="javascript:void(0)" class="btn btn--primary">Отправить</a>
        <p>официальная почта BingoBoom</p>
    </div>
</form>