<header class="header">
    <div class="header__wrapper">
        <div class="header__left">            
            <a href="" class="header__logo"><img class="logo" src="images/bingoboom.svg" alt="" /></a>
        </div>       
        <div class="header__right">
            <div class="header__auth hidden-sm">
                <a href="javascript:void(0)" class="header__btn btn btn--primary js-glpopup-open" data-targetpopup=".js-reg-popup-quick">Регистрация</a>
                <a href="javascript:void(0)" class="header__btn btn btn--secondary js-glpopup-open" data-targetpopup=".js-login-popup">Вход</a>
            </div>
            <div class="header__authlinks visible-sm-flex">
                <a href="javascript:void(0)" class="authlinks__btn js-login-trigger">
                    <span>Войти</span>
                    <span class="icon icon-signin">
                        <svg width="32" height="32" viewBox="0 0 32 32">
                            <path fill="#545454" fill-rule="evenodd" d="M16.25 23h7V9h-7V7h7c1.1 0 2 .9 2 2v14c0 1.1-.9 2-2 2h-7v-2zm.42-7.75l-2.58-2.59 1.41-1.41 5 5-5 5-1.41-1.41 2.58-2.59H7v-2h9.67z" />
                        </svg>
                    </span>
                </a>
            </div>           
        </div>
    </div>
</header>