<main class="main">
    <div class="b-reg-wrapper">
        <span class="i-reg"></span>
        <a href="javascript:void(0)" class="b-reg-link js-modal-logreg-login">Вход</a>
        <span class="b-reg-link-del">/</span>
        <a href="javascript:void(0)" class="b-reg-link js-modal-logreg-reg">Регистрация</a>
    </div>
    <div  class="hidden-sm">
        <h2>Регистрация</h2>
        <a href="javascript:void(0)" class="firstlink js-glpopup-open"  data-targetpopup=".js-reg-popup-quick">1. Телефон / пароль</a><br>
        
        <br>
        <h2>Авторизация</h2>
        <a href="javascript:void(0)" class="js-glpopup-open" data-targetpopup=".js-login-popup">Вход</a><br>
        <a href="javascript:void(0)" class="js-glpopup-open" data-targetpopup=".js-password-reminder-popup">Напомнить пароль шаг1</a><br>
    </div>
    <script>$(document).ready(function() { $(".firstlink").click(); });</script>
</main>
<div class="fader"></div>
<div class="pop-up reg-pop-up js-reg-popup-quick" style="display: block;">
    <div class="pop-up__layer">
        <div class="pop-up__wrap">
            <header class="pop-up__header">
                <a href="javascript:void(0)" class="pop-up__close js-popup-close"><span class="icon close-btn"></span></a>
            </header>
            <section class="pop-up__body">
                <div class="pop-up__title">Регистрация</div>
                <form class="reg-pop-up__form" action="" method="POST">
                    <div class="form-group">
                        <div class="control-input__group">
                            <input type="text" id="reg_login_input" class="control-input control-input--tel error" autocomplete="off" name="client[phone]" placeholder="Номер телефона*" />
                            <label class="control-input__group-label" for="reg_login_input" data-content="Номер телефона*">Номер телефона*</label>
                            <span class="control-input__group-error control__error">Ошибка ввода информации</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-input__group">
                            <input id="reg_pass_input" type="password" name="password" required="" class="control-input control-input--password" placeholder="Пароль (минимум 8 символов)*" />
                            <label class="control-input__group-label" for="reg_pass_input" data-content="Пароль (минимум 8 символов)*">Пароль (минимум 8 символов)*</label>
                            <span class="control-input__group-error control__error">Ошибка ввода информации</span>
                        </div>
                    </div>
                    <!--    <div class="form-group">
                        <div class="control-input__group">
                            <input id="reg_email_input" type="email" autocomplete="off" name="client[email]" class="control-input" placeholder="E-mail" />
                            <label class="control-input__group-label" for="reg_email_input" data-content="Email">Email</label>
                            <span class="control-input__group-error control__error">Ошибка ввода информации</span>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <div class="control-input__group">
                            <input id="reg_promo_input" type="text" autocomplete="off" name="promo" class="control-input" placeholder="Промокод" />
                            <label class="control-input__group-label" for="reg_promo_input" data-content="Промокод">Промокод</label>
                            <span class="control-input__group-error control__error">Ошибка ввода информации</span>
                        </div>
                    </div>
                    <div class="form-group form-group--checkbox">
                        <div class="control-checkbox textsmall">
                            <input class="control-checkbox__input" name="confirmInfo" id="confirmInfo" value="1" type="checkbox" />
                            <label for="confirmInfo" class="control-checkbox__label">Ознакомлен и согласен с <a href="#">Политикой компании
                                    по обработке персональных данных </a></label>
                        </div>
                        <div class="error_label control__error">Accept the terms</div>
                    </div>
                    <div class="form-group form-group--checkbox ">
                        <div class="control-checkbox textsmall">
                            <input class="control-checkbox__input" autocomplete="off" type="checkbox" name="confirmAge" id="confirmAge" />
                            <label for="confirmAge" class="control-checkbox__label">Согласен на обработку моих персональных данных</label>
                        </div>
                        <div class="error_label control__error">Accept the terms</div>
                    </div>
                    <div class="form-group form-group--btns">
                        <button id="button_reg" type="submit" class="btn btn--primary btn--big js-glpopup-open" data-targetpopup=".js-reg-popup-sms">Далее</button>
                    </div>
                </form>
                <div class="pop-up__note reg-pop-up__note">
                    <p class="darkgrey textsmall">Уже есть аккаунт? <a href="javascript:void(0)" class="js-glpopup-open" data-targetpopup=".js-login-popup">Войти</a></p>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="pop-up reg-pop-up js-login-popup">
    <div class="pop-up__layer">
        <div class="pop-up__wrap">
            <header class="pop-up__header">
                <a href="javascript:void(0)" class="pop-up__close js-popup-close"><span class="icon close-btn"></span></a>
            </header>
            <section class="pop-up__body">
                <div class="pop-up__title">Вход</div>
                <form class="reg-pop-up__form" action="/user/registration" method="POST">
                    <div class="form-group">
                        <div class="control-input__group">
                            <input type="text" id="login_input" class="control-input error" autocomplete="off" name="client[phone]" placeholder="Номер телефона*" />
                            <label class="control-input__group-label" for="login_input" data-content="Номер телефона*">Номер телефона*</label>
                            <span class="control-input__group-error control__error">Ошибка ввода информации</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-input__group">
                            <input id="log_pass_input" type="password" name="password" required="" class="control-input control-input--password" placeholder="Пароль (минимум 8 символов)*" />
                            <label class="control-input__group-label" for="log_pass_input" data-content="Пароль (минимум 8 символов)*">Пароль (минимум 8 символов)*</label>
                            <span class="control-input__group-error control__error">Ошибка ввода информации</span>
                        </div>
                    </div>
                    <div class="form-group form-group--forgot">
                        <a href="javascript:void(0)" class="js-glpopup-open " data-targetpopup=".js-password-reminder-popup">Забыли пароль?</a>
                    </div>
                    <div class="form-group form-group--btns">
                        <a href="javascript:void(0);" class="btn btn--primary btn--big">Войти</a>
                    </div>
                </form>
                <div class="pop-up__note reg-pop-up__note">
                    <p class="darkgrey textsmall">Нет аккаунта? <a href="javascript:void(0)" class="js-glpopup-open" data-targetpopup=".js-reg-popup-quick">Зарегистрироваться</a></p>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="pop-up reg-pop-up js-password-reminder-popup">
    <div class="pop-up__layer">
        <div class="pop-up__wrap">
            <header class="pop-up__header">
                <a href="javascript:void(0)" class="pop-up__close js-popup-close"><span class="icon close-btn"></span></a>
            </header>
            <section class="pop-up__body">
                <div class="pop-up__title">Восстановление пароля</div>
                <form class="reg-pop-up__form" action="/user/registration" method="POST">
                    <div class="form-group">
                        <div class="control-input__group">
                            <input type="text" id="password_forgot_input" class="control-input error" autocomplete="off" name="client[phone]" placeholder="Номер телефона*" />
                            <label class="control-input__group-label" for="password_forgot_input" data-content="Номер телефона*">Номер телефона*</label>
                            <span class="control-input__group-error control__error">Ошибка ввода информации</span>
                        </div>
                    </div>
                    <div class="form-group form-group--btns">
                        <a href="javascript:void(0);" class="btn btn--primary btn--big js-glpopup-open" data-targetpopup=".js-password-reminder-popup-success">Восстановить</a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>